{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" href=" {% static 'main.css'%}"> </head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">My BoOk StoRE</a>
    </nav>
    {% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <input type="text" name="Bookname" id="Bookname" placeholder="enter the name of the book"><br><br>
    <input type="text" name="Authorname" id="Authorname" placeholder="enter the Author name"><br><br>
    <input type="text" name="Price" id="Price" placeholder="enter the Price"><br><br>
    <input type="text" name="Decription" id="Description" placeholder="Decription of the Book"><br><br>
    <input type="text" name="Rating" id="Rating" placeholder="What are the Rating of the book"><br><br>
    <input type="file" name="image" id="image"><br><br>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div><br>
    <input type="submit" name="submit" id="submit">
</form>
</body>
</html>
{% endblock %}